* { margin: 0; padding: 0; font-family: 'Work Sans', 'Lato', 'Open Sans',  'Verdana', 'Times New Roman'; border-collapse: collapse; }

.cab-0 { height: 0px; visibility: hidden; margin: 0px; }

.bot-1 {
    cursor: pointer;
    width: 150px;
    height: 35px;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    background-color: #04d766;
    border-radius: 0px 20px 0px 20px;
}

.bot-2 {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.bot-3 { visibility: hidden; }

.bot-4 {
    cursor: pointer;
    width: 100px;
    height: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    background-color: #04d766;
    border-radius: 5px;
}

.cor-1 {
    color: #ffffff !important;
}

.cor-2 { color: red; }

.cor-3 { background-color: red; }

.cor-4 { color: blue; }

.cpo-0 input[type=text], .cpo-0 input[type=email] , .cpo-0 input[type=password] {
    color: #ffffff !important;
}

.cpo-1 select {
    font-size: 20px;
    font-weight: bold;
}

.cur-1 {
    cursor: pointer;
}

.login {
    width: 100%;
    height: 100vh;
    background-image: url(../img/fundo-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.lit-1 {
    color: #000000;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 300;
}

.lit-2 {
    color: #000000;
    font-size: 16px;
    font-weight: 300;
}

.lit-3 {
    font-size: 40px;
    font-weight: 300;
}

.lit-4 {
    margin: 15px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
}

.ima-1 {
    width: 90%;
}

.ima-2 {
    animation-duration: 5s;
}

.pre-1 {
    position: absolute;
    top: 40%;
    left: 35%; 
}

.qua-1 {
    width: 30%;
    height: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px 15px;
    margin: 100px auto;
    animation-duration: 5s;
    background-color: #000000;
}

.qua-2 {
    color: #000000;
    background-color: #E9E9E9;
}

.qua-3 {
    padding: 10px 0px;
    overflow: hidden;
    border: 0.5px solid #04d766;
    box-shadow: 10px 15px 5px rgba(0,0,0,.3);
}

.qua-4 {
    width: 50%;
    margin: 10px auto;
    padding: 10px 0px;
    overflow: hidden;
    border: 0.5px solid #04d766;
    box-shadow: 10px 15px 5px rgba(0,0,0,.3);
}

.qua-5 {
    color: #04d766;
    margin: 5px 10px;
    border-radius: 5px;
    border: 0.5px solid #979696;
    box-shadow: 10px 15px 5px rgba(226, 223, 223, 0.3);
}

.qua-5 p, .qua-5 span {
    font-size: 16px;
    font-weight: bold;
}

.qua-6 {
    padding: 10px 5px;
    border: 0.5px solid #9ea0a0;
    background-color: #f3f3f3;
}

.qua-6 label {
    font-size: 14px;
    color: #918e8e;
}

.qua-6 input[type=text], .qua-6 select, .qua-6 select option, .qua-6 textarea {
    font-size: 14px;
    padding: 2px 10px;
    color: #676a6c;
 }

@media only screen and (max-width: 900px) {  
    .qua-1 { width: 90%; }
}

@media only screen and (min-width: 900px) {  
    body { overflow-x: hidden; }
}

.tab-1 {
    font-size: 12px;
    padding: 0px 10px;
}

.tel-1 {
    overflow: hidden;
    margin: 18px 0px 0px 0px;
    padding: 0px 5px;
    border: 0.5px solid #04d766;
    box-shadow: 10px 15px 5px rgba(0,0,0,.3);
}

.tel-1 label {
    font-size: 14px;
    color: #918e8e;
}

.tel-1 input[type=text], .tel-1 input[type=email], .tel-1 select, .tel-1 select option, .tel-1 textarea {
    font-size: 14px;
    padding: 2px 10px;
    color: #676a6c;
 }

 .tel-1 input[type=text]:hover, .tel-1 input[type=email]:hover, .tel-1 select:hover, .tel-1 select option:hover, .tel-1 textarea:hover {
    font-weight: bold;
 }

.tit-1 {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.tit-2 {
    font-size: 11px;
    text-decoration: none;
}

.subir {
    position: fixed;
    cursor: pointer;
    bottom: 4.0%;
    right: 0.5%;
    display: none;
}

#particles-js {
    width: 100%;
    height: 100vh;
    color: #000000;
    background: #caf5de;
}

button.dt-button {
    cursor: pointer;
    color: #ffffff;
    border-radius: 5px;
    width: 70px !important;
    height: 25px !important;
    font-size: 12px !important;
    background-color: #04d766;
}

/* Menu vertical (lateral) com movimento */
.men-1 ul {
    position: relative;
    margin: 20px 0px;
    padding: 10px;
    width: 250px;
    background-color:#effcf5;
    display: flex;
    flex-direction: column;
    border-radius:10px;
    border-radius: 0 10px 30px rgba(0,0,0,0.1);
}

.men-1 ul li {
    position: relative;
    list-style: none;
}

.men-1 ul li::before {
    content: '';
    position: absolute;
    top: 26px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 50%;
    transition: 0.5s;    
}

.men-1 ul li:hover::before {
    background-color: #ff0000;
}

.men-1 ul li a {
    text-decoration: none;
    display: flex;
}

.men-1 ul li a .icon {
    width: 60px;
    height: 40px;
    text-align: center;  /*    overflow: hidden; */
    overflow: hidden;
    margin: 10px;
}

.men-1 ul li a .icon .fa {
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 34px;
    color: #333;
    transition: 0.5s;
}

.men-1 ul li a .icon .fa:last-child {
    color: #188aff;
}

.men-1 ul li a:hover .icon .fa {
    transform: translateY(-100%);
}

.men-1 ul li a:hover .icon .fa:last-child {
    transform: translateY(-100%);
}

.men-1 ul li a .name {
    position: relative;
    top: 20px;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden ; /* */
}

.men-1 ul li a .name span {
    display: block;
    position: relative;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    transition: 0.5s;
}

.men-1 ul li a .name span::before {
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    color: #188aff;
}

.men-1 ul li a:hover .name span {
    transform: translateY(20px);
}

